/* Global Styles */
@font-face {
    font-family: "Radnika-Next-Medium";
    src: url("fonts/Radnika-Next-Medium.otf") format("opentype");
}

body {
    margin: 0;
    font-family: "Radnika-Next-Medium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.4;
    margin: 30px;
    color: #1c391b;
    background-color: #f4f4f4;

}

header {
    font-weight: normal;
    font-size: 36px;
    text-decoration: none;
    color: #f4f4f4;
    padding: 20px 40px;
}

.nav a {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 56px;
    font-weight: bold;
}

.inquire-btn {
    background-color: #d94506;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    padding: 33px 10px;
    cursor: pointer;
}

.projects {
    background-color: #f4f4f4;
    color: #056eeb;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    padding: 33px 10px;
    cursor: pointer;
}

.text {
    flex: 1;
    padding-right: 20px;
    font-size: 36px;
    
}

.text h2 {
    font-size: 36px;
    font-weight: 300;
    color: #413c38;
    background-color: #fff;
    margin-bottom: 20px;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%;
    border-radius: 20px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Radika-Next-Medium", sans-serif;
}

body {
  background: #1f1f47
}